.section{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 10px;
}




.section div{
    background-color: blue;
    grid-column: 2 / 5;
    /* grid-column-start: 2;
    grid-row-end: 5; */

     
    grid-row: 2 / 5;
    /*grid-row-start: 2;
    grid-row-end: 5; */

}


/*
        


             შექმენით კონტეინერი რომელსაც ექნება 5 column და 5 row შემდეგ ამ კონტეინერში
             მოათავსეთ ერთი დივი და გადაიტანეთ შუაში შუა კუბიკში

*/




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* 5 სვეტი */
    grid-template-rows: repeat(5, 100px);    /* 5 რიგი */
    gap: 10px; /* დაშორება ბლოკების შორის */
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
} 


.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf50;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}