
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "roboto", "sans-serif";
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first_main{
    display: flex;
    gap: 20px;

}

