



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: "Poppins", serif;
    background-color: hsl(0, 0%, 98%);
}

h1{
    font-weight: 200;
    text-align: center;
    /* opacity: 80%; */
    color:hsl(234, 12%, 34%);
}

h1 b{
    font-weight: 600;
}